<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="../lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="../cordova.js"></script>

    <!-- your app's js -->
    <script src="app.js"></script>
    <script src="menu/menu.js"></script>
    <script src="dashboard/dashboard.js"></script>
    <script src="profile/profile.js"></script>
    <script src="security/security.js"></script>
    <script src="programs/programs.js"></script>
</head>
<body ng-app="app">

<ion-pane>
    <ion-side-menus>

        <!-- Center Content -->
        <ion-side-menu-content ng-controller="appController">
            <ion-header-bar class="bar-dark">
                <button class="button button-icon" ng-click="navigateHome()">
                    <img src="../img/favicon.ico" style="height: 40px;">
                </button>
                <button class="button button-icon" ng-click="toggleMenu()">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-header-bar>
            <ion-content>
                <section ui-view></section>
            </ion-content>
        </ion-side-menu-content>

        <!-- Left Menu -->
        <ion-side-menu side="left" ng-controller="menuController">
            <ion-header-bar>
                <h1 class="title">
                    k.creek | Logout
                </h1>
            </ion-header-bar>
            <menu-directive></menu-directive>
        </ion-side-menu>

    </ion-side-menus>
</ion-pane>
</body>
</html>
