<div>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="First Name" ng-model="user.firstName">
        </label>
        <br>
        <label class="item item-input">
            <input type="text" placeholder="Last Name" ng-model="user.lastName">
        </label>
        <br>
        <label class="item item-input">
            <input type="text" placeholder="User Name" ng-model="user.userName">
        </label>
        <br>
        <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="user.email">
        </label>
        <br>
        <label class="item item-input">
            <input type="text" placeholder="Date of Birth" ng-model="user.dob">
        </label>
    </div>
    <div>
        <button class="button button-clear button-assertive">Cancel</button>
        <button class="button button-clear button-balanced">Save</button>
    </div>
</div>